// Make sure the charset is set appropriately
@charset "UTF-8";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";

// Foundation Components
@import
  "foundation/components/global",
  "foundation/components/grid",
  "foundation/components/visibility",
  "foundation/components/block-grid",
  "foundation/components/type",
  "foundation/components/buttons",
  "foundation/components/forms",
  "foundation/components/custom-forms",
  "foundation/components/button-groups",
  "foundation/components/dropdown-buttons",
  "foundation/components/split-buttons",
  "foundation/components/flex-video",
  "foundation/components/section",
  "foundation/components/top-bar",
  "foundation/components/orbit",
  "foundation/components/reveal",
  "foundation/components/joyride",
  "foundation/components/clearing",
  "foundation/components/alert-boxes",
  "foundation/components/breadcrumbs",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/inline-lists",
  "foundation/components/pagination",
  "foundation/components/panels",
  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/side-nav",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/magellan",
  "foundation/components/tables",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/dropdown";


// colors
$logo-green: #197278;
$dark-blue: #243247;


body {
	padding: 15px;
	font-family: 14px  Helvetica, Arial, sans-serif;

	@media screen and (min-width: 60em) {
		background-image: linear-gradient(to right, white, white 49%, $logo-green 49%);

	}
	
}

.left {
	img {
		display: block;
		margin: auto;
		width: 150px;
		height: 150px;
	}
	
	.welcome_message {
		margin: 10px;

		h3 {
			color: $dark-blue;
			text-align: center;
		}

		.welcome_text {
			border-top: solid 2px lightgrey;
			padding-top: 5px;

			p {
				text-align: center;

			}
		}

	}

	
	

}

.right {

	#video {
		width: 100%;
		display: block;
		margin: auto;

	}

	#snap {
		display: block;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;

		background-color: $dark-blue;
		border: $dark-blue;

		
	}

	#snap:hover {
		background-color: darken($dark-blue, 15%);
	}
		
		
	

	#canvas {
		width: 100%;
	}
}